01-Onboarding/*
02-Erste-Hilfe/*
03-BYOD-Basics/*
04-Programmieren-1/*
05-IN-Biber-2024/*
06-Information-Daten/*
07-Textverarbeitung-und-Style/*
08-Repetition-IN-GYM1/index.mdx
09-Kryptologie/*
10-Data-Management/*
11-Netzwerke/*
!11-Netzwerke/07-Routing/
!11-Netzwerke/51-Networking-the-Nerds.mdx
!11-Netzwerke/60-Repetition.mdx
!11-Netzwerke/70-Ausblicke/
Abschlussprojekt/*
13-Schnitzeljagd/*