00-MyGBSL/*
02-Onboarding/*
03-Erste-Hilfe/*
04-BYOD-Basics/*
!04-BYOD-Basics/99-Interviews-Repetition.mdx
05-Programmieren/*
!05-Programmieren/04-Advent-of-Code/
06-IN-Biber-2025/*
07-SOL-Projekt-GYM1/*
08-Information-Daten/*
08-Textverarbeitung-und-Style/*