01-Onboarding/*
02-Erste-Hilfe/*
03-BYOD-Basics/*
!03-BYOD-Basics/99-Interviews-Repetition.mdx
04-Programmieren/*
!04-Programmieren/04-Advent-of-Code/
05-IN-Biber-2025/*
06-SOL-Projekt-GYM1/*
07-Information-Daten/*
08-Textverarbeitung-und-Style/*
09-Kryptologie/*